
<!--<div style="padding-top:7%;"></div>-->

<div class="row" style="height:100%;">
  <div class="column" style="width:15%;"></div>
  <div class="column" style="background-color:#bbb; width:70%; height:100%">
    <div style="padding-top:2%;"></div>
    <div style="text-align:center;">
      <h4>Profile!</h4>
      <p>Just do it!</p>
    </div>
    <div class="row" style="height:80%;">
      <div class="col-lg-1 col-md-1 col-sm-1" style="height:80%;"></div>
      <div class="col-lg-4 col-md-4 col-sm-5" style="height:100%;">
        <img [src] = "getProfileImage()" style="width:100%; height:100%; padding-top:5%; padding-bottom:9%;">
      </div>
<!--      <div class="col-lg-1 col-md-1 col-sm-1" ></div>-->
      <div class="col-lg-2 col-md-2 col-sm-2" style=" padding-top:2%;">
        <form>
          <label for="fname"><b>First Name:</b></label>
          <br>
          <input type="text" name="name" id="fname" [(ngModel)]="profileName" >
          <br>
          <!-- <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <br> -->
          <br>
          <label for="fname"><b>Email:</b></label>
          <br>
          <input type="text" id="sname" name="email"  [value]="getUserEmail()" disabled>
          <br>

        </form>
      </div>
     <div class="col-lg-1 col-md-1 col-sm-1" ></div>
      <div class="col-lg-2 col-md-2 col-sm-2" style=" padding-top:2%;">
        <form action="/action_page.php">
          <label ><b>Subject:</b></label>
          <br>
          <textarea  name="subject" [(ngModel)]="userDescription" placeholder="Write something.." style="height:45%"></textarea>
          <br>
        </form>
        <form action="/action_page.php">
          <label ><b>Random fun:</b></label>
          <br>
          <textarea  name="subject" [(ngModel)]="randomFun" placeholder="Write something.." style="height:45%"></textarea>
          <br>
          <div style="padding-top:3%;"></div>
          <button (click) = "saveChanges()" >Save</button>
        </form>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2" style="width:5%;height:60%;"></div>
    </div>
  </div>
  <div class="column" style="width:15%"></div>
</div>
<div class="row" style="height:5%;">
  <div class="col-lg-9 col-md-9 col-sm-7"></div>
  <div class="col-lg-1 col-md-2 col-sm-3" style="width:100%; padding-top:2%;">
    <button type="button" class="btn btn-success" style="width:100%">Start!</button>
  </div>
  <div class="column" style="width:15%;"></div>
</div>
